<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  
  <system.serviceModel>    
      <extensions>
        <bindingExtensions>
          <add name="pollingDuplex" 
               type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement, System.ServiceModel.PollingDuplex"/>
        </bindingExtensions>
      </extensions>
    <bindings>
        <pollingDuplex>
          <binding name ="PollingDuplexBinding" duplexMode="MultipleMessagesPerPoll"/>
        </pollingDuplex>
      </bindings>    
        <behaviors>
            <endpointBehaviors>
                <behavior name="Park.ParkServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MetaServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />

    <services>
      <service behaviorConfiguration="MetaServiceBehavior" name="Park.ParkService">
         <endpoint address="" binding="pollingDuplex" bindingConfiguration="PollingDuplexBinding" contract="Park.Service"/>
         <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
 