<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=362ddeff-69d2-4c8f-a59c-a20d0184dff8.sqlserver.sequelizer.com;Database=db362ddeff69d24c8fa59ca20d0184dff8;User ID=biyrjshmbmjpkiaf;Password=RcByGfeyLtJ2Vh6XfyTjAL7betKWqfgXm2kgYpJ7qHedhyQ5FFE8JZTeezunBqhE;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="PollingDuplex" 
             type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement,System.ServiceModel.PollingDuplex, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>
    </extensions>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Throttled">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling
            maxConcurrentCalls="10000"
            maxConcurrentSessions="10000"
            maxConcurrentInstances="1"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="dsService.Service1AspNetAjaxBehavior">
          <enableWebScript />          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
      <PollingDuplex>
        <binding name="myPollingDuplex" duplexMode="MultipleMessagesPerPoll"/>
      </PollingDuplex>
    </bindings>
    
    <services>
      <service name="dsService.Service1" behaviorConfiguration="Throttled">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51424/Service1.svc"/>
          </baseAddresses>
        </host>
        <endpoint address=""
          binding="PollingDuplex" bindingConfiguration="myPollingDuplex" contract="dsService.Service1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />    
    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="AspNetAppHarborIntegration" />
      <add name="AspNetAppHarborIntegration" type="Premotion.AspNet.AppHarbor.Integration.AppHarborModule, Premotion.AspNet.AppHarbor.Integration" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  
</configuration>